<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/85c52381-15e0-4f14-a8c8-22068aeee7f6/resourcegroups/Go2GoWeb20220105044841ResourceGroup/providers/Microsoft.Web/sites/Go2GoWeb20220105044841</ResourceId>
    <ResourceGroup>Go2GoWeb20220105044841ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/85c52381-15e0-4f14-a8c8-22068aeee7f6/resourceGroups/Go2GoWeb20220105044841ResourceGroup/providers/Microsoft.ApiManagement/service/Go2GoWebapi/apis/Go2GoWeb</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://go2goweb20220105044841.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>da15b07e-2764-4d2c-8c59-ae338361db82</ProjectGuid>
    <MSDeployServiceURL>go2goweb20220105044841.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Go2GoWeb20220105044841</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Go2GoWeb20220105044841</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>